/* Footer */

// added variable so that the code is maintainable 
// Modification of the structure to better understand and avoid repetition

$footer-shadow: 0.55rem 0.55rem #FFFFFF;
$cgv-cgu-margin: 0.5rem;
$turquoise: #15FFF5;
$cgv-button-margin: 1rem;
$cgv-button-padding: 1rem;
$cgv-button-font-size: 1.5rem;

#footer {
  text-shadow: $footer-shadow;
  
  .form__footer {
    margin: 1rem;
    text-shadow: $turquoise;
  }

  .cgv__footer {
    margin: $cgv-cgu-margin;
    text-shadow: $turquoise;

    .button {
      margin: $cgv-button-margin;
      padding: $cgv-button-padding;
      font-size: $cgv-button-font-size;
    }
  }

  .cgu__footer {
    margin: $cgv-cgu-margin;
    text-shadow: $turquoise;
  }
}


/*

#footer {
  text-shadow: 0.55rem 0.55rem #FFFFFF;
}

#footer .form__footer {
  margin: 1rem;
  text-shadow: 0.55rem 0.55rem #15FFF5;
}

#footer .cgv__footer {
  margin: 0.5rem;
  text-shadow: 0.55rem 0.55rem #15FFF5;
}

#footer .cgv__footer .button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

#footer .cgu__footer {
  margin: 0.5rem;
  text-shadow: 0.55rem 0.55rem #15FFF5;
}

*/
